lab_one/vhdl/db/
lab_one/vhdl/output_files/
lab_one/vhdl/incremental_db/
lab_one/vhdl/db/
lab_two/vhdl/output_files/
lab_two/vhdl/incremental_db/
lab_two/vhdl/db/
lab_two/lab2/output_files/
lab_two/lab2/incremental_db/
lab_two/lab2/db/
*.tmp
lab_two/python/.idea/
*.rpt
*.sof
*.pof
